<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="advanced">
        <field
              name="catalogue_currency"
              type="text"
              label="COM_CATALOGUE_CONFIG_CURRENCY_LABEL"
              description="COM_CATALOGUE_CONFIG_CURRENCY_DESC"
              class="inputbox"
              default="руб."
              />

        <field
                name="catalogue_currency_schema"
                type="text"
                label="COM_CATALOGUE_CONFIG_CURRENCY_SCHEMA_LABEL"
                description="COM_CATALOGUE_CONFIG_CURRENCY_SCHEMA_DESC"
                class="inputbox"
                default="RUB"
        />

      <field
              name="add_id_alias"
              type="radio"
              label="COM_CATALOGUE_CONFIG_ADD_ID_ALIAS_LABEL"
              class="btn-group"
              default="1">
          <option value="0">JNO</option>
          <option value="1">JYES</option>
      </field>
  </fieldset>

    <fieldset name="category" label="JCATEGORY">
        <field
                name="category_layout"
                type="componentlayout"
                label="JGLOBAL_FIELD_LAYOUT_LABEL"
                description="JGLOBAL_FIELD_LAYOUT_DESC"
                menuitems="true"
                extension="com_catalogue"
                view="category"
                />

        <field name="show_category_title"
               type="radio"
               class="btn-group"
               label="JGLOBAL_SHOW_CATEGORY_TITLE"
               description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
               default="1"
                >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="category_title_tag_size"
               type="list"
               label="COM_CATALOGUE_CATEGORY_TITLE_TAG_SIZE_LABEL"
               description="COM_CATALOGUE_CATEGORY_TITLE_TAG_SIZE_LABEL"
               default="2">
            <option value="1">h1</option>
            <option value="2">h2</option>
            <option value="3">h3</option>
            <option value="4">h4</option>
            <option value="5">h5</option>
            <option value="6">h6</option>
        </field>

        <field name="show_description"
               type="radio"
               class="btn-group"
               description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
               label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
               default="1"
                >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="show_category_image"
               type="radio"
               class="btn-group"
               description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
               label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
               default="0"
                >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field
                name="spacer1"
                type="spacer"
                hr="true"
                />

        <field name="bloglayout" type="spacer" class="text"
               label="JGLOBAL_SUBSLIDER_BLOG_LAYOUT_LABEL"
                />

        <field name="show_category_title"
               type="radio"
               class="btn-group"
               label="JGLOBAL_SHOW_CATEGORY_TITLE"
               description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
               default="0"
                >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="show_category_heading_title_text"
               type="radio"
               class="btn-group"
               label="JGLOBAL_SHOW_CATEGORY_HEADING_TITLE_TEXT_LABEL"
               description="JGLOBAL_SHOW_CATEGORY_HEADING_TITLE_TEXT_DESC"
               default="0"
                >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="show_subcategory_content" type="list"

               description="JGLOBAL_SHOW_SUBCATEGORY_CONTENT_DESC"
               label="JGLOBAL_SHOW_SUBCATEGORY_CONTENT_LABEL"
               default="-1"
                >
            <option value="0">JNONE</option>
            <option value="-1">JALL</option>
            <option value="1">J1</option>
            <option value="2">J2</option>
            <option value="3">J3</option>
            <option value="4">J4</option>
            <option value="5">J5</option>
        </field>

        <field
                name="spacer1"
                type="spacer"
                hr="true"
                />

        <field name="orderby_pri" type="list"
               description="JGLOBAL_CATEGORY_ORDER_DESC"
               label="JGLOBAL_CATEGORY_ORDER_LABEL"
                >
            <option value="">JGLOBAL_USE_GLOBAL</option>
            <option value="none">JGLOBAL_NO_ORDER</option>
            <option value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
            <option value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
            <option value="order">JGLOBAL_CATEGORY_MANAGER_ORDER</option>
        </field>

        <field name="orderby_sec" type="list"
               description="COM_CATALOGUE_ITEM_ORDER_DESC"
               label="COM_CATALOGUE_ITEM_ORDER_LABEL"
                >
            <option value="">JGLOBAL_USE_GLOBAL</option>
            <option value="price">COM_CATALOGUE_ITEM_PRICE_MIN_FIRST</option>
            <option value="rprice">COM_CATALOGUE_ITEM_PRICE_MAX_FIRST</option>
            <option value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
            <option value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
            <option value="hits">JGLOBAL_MOST_HITS</option>
            <option value="rhits">JGLOBAL_LEAST_HITS</option>
            <option value="order">JGLOBAL_ORDERING</option>
        </field>

        <field name="show_pagination"
               type="list"
               label="JGLOBAL_PAGINATION_LABEL"
               description="JGLOBAL_PAGINATION_DESC"
               default="1">

            <option value="0">JHIDE</option>
            <option value="1">COM_CATALOGUE_PAGER</option>
            <option value="2">COM_CATALOGUE_AJAX</option>
        </field>

    </fieldset>

    <fieldset name="items"
              label="COM_CATALOGUE_CATEGORY_ITEMS_LAYOUT_OPTIONS">

        <field name="item_show_title"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_TITLE_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_TITLE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="item_show_link_title"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_LINK_TITLE_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_LINK_TITLE_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="item_show_image"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_IMAGE_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_IMAGE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="item_show_link_image"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_LINK_IMAGE_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_LINK_IMAGE_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="item_show_hit"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_HIT_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_HIT_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="item_show_like"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_LIKE_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_LIKE_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="item_show_description"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_DESCRIPTION_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_DESCRIPTION_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="item_slice_desc"
                type="radio"
                label="COM_CATALOGUE_CONFIG_SLICEDESC_LABEL"
                description="COM_CATALOGUE_CONFIG_SLICEDESC_DESC"
                class="btn-group"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="item_short_desc_len"
                type="text"
                label="COM_CATALOGUE_CONFIG_SHORT_DESC_LEN_LABEL"
                description="COM_CATALOGUE_CONFIG_SHORT_DESC_LEN_DESC"
                class="inputbox"
                default="150"/>

        <field name="item_show_cart_btn"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="item_cart_btn_text"
                type="text"
                class="inputbox"
                label="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_TEXT_LABEL"
                description="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_TEXT_DESC"/>

        <field name="item_cart_btn_class"
               type="text"
               class="inputbox"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_CLASS_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_CLASS_DESC"/>

        <field name="item_cart_btn_id"
               type="text"
               class="inputbox"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_ID_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_ID_DESC"/>

        <field name="item_cart_btn_onclick"
               type="text"
               class="inputbox"
               label="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_ONCLICK_LABEL"
               description="COM_CATALOGUE_CONFIG_SHOW_ITEM_CART_BTN_ONCLICK_DESC"/>

        <field
                name="save_history"
                type="radio"
                class="btn-group btn-group-yesno"
                default="0"
                label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
                description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                name="history_limit"
                type="text"
                filter="integer"
                label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
                description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
                default="10"
        />

        <field
                id="show_tags"
                name="show_tags"
                type="radio"
                class="btn-group btn-group-yesno"
                default="1"
                label="COM_CATALOGUE_CONFIG_SHOW_TAGS_LABEL"
                description="COM_CATALOGUE_CONFIG_SHOW_TAGS_DESC">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>
    </fieldset>

    <fieldset name="item"
              label="COM_CATALOGUE_ITEM_LAYOUT_OPTIONS">

        <field name="open_item_show_title"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_TITLE_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_TITLE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="open_item_show_link_title"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_LINK_TITLE_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_LINK_TITLE_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="open_item_show_image"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_IMAGE_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_IMAGE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="open_item_show_link_image"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_LINK_IMAGE_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_LINK_IMAGE_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="open_item_show_hit"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_HIT_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_HIT_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="open_item_show_like"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_LIKE_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_LIKE_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="open_item_show_intro"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_INTRO_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_INTRO_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="open_item_show_description"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_DESCRIPTION_LABEL"
               description="COM_CATALOGUE_CONFIG_OPEN_ITEM_SHOW_DESCRIPTION_DESC"
               default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
    </fieldset>

    <fieldset name="images"
              label="COM_CATALOGUE_IMAGES_LAYOUT_OPTIONS">

        <field type="spacer"
               label="COM_CATALOGUE_CONFIG_CATEGORY_IMAGES_SIZE_HELP"
        />

        <field
                name="category_img_width"
                type="number"
                label="COM_CATALOGUE_CONFIG_IMAGE_WIDTH_LABEL"
                description="COM_CATALOGUE_CONFIG_IMAGE_WIDTH_DESC"
                class="inputbox"
                default="280"
                />

        <field
                name="category_img_height"
                type="number"
                label="COM_CATALOGUE_CONFIG_IMAGE_HEIGHT_LABEL"
                description="COM_CATALOGUE_CONFIG_IMAGE_HEIGHT_DESC"
                class="inputbox"
                default="210"
                />

        <field type="spacer"
               label="COM_CATALOGUE_CONFIG_ITEM_IMAGES_SIZE_HELP"
        />

        <field
                name="item_img_width"
                type="number"
                label="COM_CATALOGUE_CONFIG_IMAGE_WIDTH_LABEL"
                description="COM_CATALOGUE_CONFIG_IMAGE_WIDTH_DESC"
                class="inputbox"
                default="320"
        />

        <field
                name="item_img_height"
                type="number"
                label="COM_CATALOGUE_CONFIG_IMAGE_HEIGHT_LABEL"
                description="COM_CATALOGUE_CONFIG_IMAGE_HEIGHT_DESC"
                class="inputbox"
                default="310"
        />
    </fieldset>

    <fieldset name="cart"
              label="COM_CATALOGUE_CART_LAYOUT_OPTIONS"
              addfieldpath="/administrator/components/com_catalogue/models/fields">
        <field name="cart_show_item_thumb"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_THUMB_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_THUMB_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="cart_show_item_title"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_TITLE_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_TITLE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="cart_show_item_count"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_COUNT_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_COUNT_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="cart_show_item_price"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_PRICE_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_PRICE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="cart_show_agg_item_license_duration"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_AGG_ITEM_LICENSE_DURATION_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_AGG_ITEM_LICENSE_DURATION_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="cart_show_item_delete"
               type="radio"
               class="btn-group"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_DELETE_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_ITEM_DELETE_DESC"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field name="cart_show_custom_fields"
               type="AttrsList"
               label="COM_CATALOGUE_CONFIG_CART_SHOW_CUSTOM_FIELDS_LABEL"
               description="COM_CATALOGUE_CONFIG_CART_SHOW_CUSTOM_FIELDS_DESC"
               multiple="true">
        </field>
    </fieldset>

    <fieldset name="order"
              label="COM_CATALOGUE_ORDER_OPTIONS"
              addfieldpath="/administrator/components/com_catalogue/models/fields">

        <field name="order_redirect_success"
               type="menuitem"
               label="COM_CATALOGUE_CONFIG_ORDER_SUCCESS_REDIRECT_PAGE_LABEL"
               description="COM_CATALOGUE_CONFIG_ORDER_SUCCESS_REDIRECT_PAGE_DESC"
        />

        <field name="order_manager_address"
               type="text"
               label="COM_CATALOGUE_CONFIG_ORDER_MANAGER_ADDRESS_LABEL"
               description="COM_CATALOGUE_CONFIG_ORDER_MANAGER_ADDRESS_DESC"
        />

        <field name="order_text_manager" type="editor"
               label="COM_CATALOGUE_CONFIG_ORDER_TEXT_MANAGER_LABEL"
               description="COM_CATALOGUE_CONFIG_ORDER_TEXT_MANAGER_DESC"
               filter="JComponentHelper::filterText" buttons="true"
        />

        <field name="order_text_client" type="editor"
               label="COM_CATALOGUE_CONFIG_ORDER_TEXT_CLIENT_LABEL"
               description="COM_CATALOGUE_CONFIG_ORDER_TEXT_CLIENT_DESC"
               filter="JComponentHelper::filterText" buttons="true"
        />

        <field name="order_success_text" type="editor"
               label="COM_CATALOGUE_CONFIG_ORDER_SUCCESS_TEXT_LABEL"
               description="COM_CATALOGUE_CONFIG_ORDER_SUCCESS_TEXT_DESC"
               filter="JComponentHelper::filterText" buttons="true"
        />

        <field name="order_fail_text" type="editor"
               label="COM_CATALOGUE_CONFIG_ORDER_FAIL_TEXT_LABEL"
               description="COM_CATALOGUE_CONFIG_ORDER_FAIL_TEXT_DESC"
               filter="JComponentHelper::filterText" buttons="true"
        />

    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                validate="rules"
                component="com_catalogue"
                section="component"/>
    </fieldset>
</config>
